body {
    background-color: rgba(200, 229, 255, 0.71);
    color: darkslategrey;
    padding: 0 10px;
}
li {
    padding: 10px;
    font-size: large;
}
code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 0 3px;
    font-weight: bolder;
}
.title {
    background: linear-gradient(to right, rgb(80, 120, 120), darkslategrey, darkslategrey, darkslategrey, darkslategrey);
    background-clip: text;
    color: transparent;
}